.planet{
    background-color: #f0f4ff;
    padding: 20px;
    display: flex;
    flex-direction: column ;
}
.planet_text{
    width: 50%;
    margin: auto;
}
.planet_text h2{
    width: 70%;
    text-align: center;
    margin: auto;
    color: rgb(84, 84, 235);
}
.planet_text p{
   
    text-wrap: wrap;
}

.planet_image_container{
    margin: 10px;
    justify-content: center;
    width: 100%;
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.planet_card{
    margin: 20px;
    width: 350px;
    height: 320px;

    
} 
.image_container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 
.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 
.planet_info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(229, 229, 233);
}
.planet_info p{
    color: rgb(5, 5, 27);
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 768px) {
  .planets-section { padding: 40px 20px; }
  
  .planet_image_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding:5px;
    gap:12px;
  }
  .planet_card {
    width: 100%;
    height: 250px;
    margin:5px;
  }
  .image_container {
    height: 45%;
  }
    .planet_info {
        height: 55%;
    }
    .planet_info p {
        font-size: small;
        margin: 5px;
    }
}
